@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter-italic;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter-bold;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter-bold-italic;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray);
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--gray);
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
header a {
  /* --gray10: red; 
  Puedo cambiar el valor de este Custom Propiety solo en el header a rojo (en este ejemplo) 
  y en el resto de elementos sigue teniendo el color anterior*/
  font-size: 14px;
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray);
}

nav details summary {
  font-weight: bold;
}

pre {
  background: #FEC62E;
}

.hero {
  background: linear-gradient(3.36deg, #212325 -63.62%, rgba(255, 255, 255, 0) 43.49%), url(/img/pattern.png);
  background-size: 6.6%;
  height: 350px;
  width: 1366px;
}