@font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

.p-content {
  margin-top: 35px;
  /* border: solid 1px red; */
}

.content-header {
  width: 78px;
  height: 24px;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: "Roboto", sans-serif;
  margin: 0;
  line-height: 24px;
  /* font-family: charter; */
}

a {
  color: var(--gray30);
}

header {
  /* --gray10: red; */
  font-size: 14px;
  width: 188px;
  color: var(--gray10);
  position: absolute;
  /* right: 0; */
  /* bottom: 0; */
  top: 64px;
  left: -232px;
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  /* margin: 50px; */
  /* top left bottom right z-index */
  /* top: 200px; */
  /* left: 30px; */
  /* right: 50px;
  bottom: 100px; */
  z-index: 1;
  /* position: absolute;
  position: fixed;
  position: sticky; */
}

header a {
  color: var(--gray10);
  text-decoration: none;
}
header a:hover {
  color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

header li {
  margin-bottom: 16px;
}

h1 {
  font-size: 60px;
  /* text-decoration: underline; */
  /* font-size: 3.75em; */
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  /* margin-left: 20px;
  margin-right: 10px; */
  /* margin: top right bottom left; */
  /* margin: 64px 10px 16px 20px;
  margin: 10px 5px;
  margin: 30px 20px 10px; */
  /* border: 1px solid red; */
}

/* h1 + p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
  /* background: red; */
}

h2 {
  font-size: 2em;
  margin: 64px 0 0px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  /* position: sticky; */
  top: 0;
  background: white;
}

pre {
  background: #fec62e;
  padding: 40px;
  /* padding-left: 40px; */
  font-family: "Roboto";
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0 0px;
  padding-left: 16px;
  line-height: 24px;
  /* border: 10px solid red; */
  /* border-top: 1px solid pink; */
  /* border-top-color: aqua; */
  /* border-top-style: dashed; */
  /* border-radius: 50px 100px 10px 0; */
  border-left: 4px solid var(--gray30);
}

#init {
  margin-bottom: 16px;
}

blockquote span {
  color: var(--gray10);
  font-size: 24px;
}
blockquote span::before {
  content: "-";
}

#etiquetas {
  margin-top: 40px;
  margin-bottom: 16px;
}

#dom {
  margin-top: 40px;
  margin-bottom: 16px;
}

#semantica {
  margin-top: 40px;
  margin-bottom: 16px;
}

#atributos {
  margin-top: 40px;
  margin-bottom: 16px;
}

#css {
  margin-top: 40px;
  margin-bottom: 16px;
}

pre p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header {
  position: sticky;
  top: 0;
}
.header-content {
  position: relative;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  /* background: blue; */
  /* padding: 20px; */
  background: white;
}

.debug {
  box-shadow: inset 0 0 0 1px red;
  outline: 1px solid red;
  background: red;
  /* border: 1px solid red !important;
  box-sizing: border-box; */
}

.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../img/pattern.png");
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom -50px; */
  /* background-size: cover; */
  height: 350px;
}

.section-content-model {
  position: relative;
}

.section-content-model ul li {
  margin-bottom: 16px;
}

.section-content-model h2 {
  margin-top: 156px;
}

.section-content-model h3 {
  margin-top: 40px;
  margin-bottom: 16px;
}

.section-content-model ol li {
  line-height: 24px;
}

.section-content {
  /* margin-top: 164px; */
  position: relative;
}
.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr {
  display: none;
}

#p-github {
  margin-bottom: 32px;
}

.section-content h2 {
  margin-bottom: 40px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  /* background: red; */
  padding-bottom: 8px;
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

#google-chrome::after {
  content: "";
  width: 192px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#vsc::after {
  content: "";
  width: 228px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#figma::after {
  content: "";
  width: 93px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#github::after {
  content: "";
  width: 100px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#html::after {
  content: "";
  width: 171px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#etiquetas::after {
  content: "";
  width: 126px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#dom::after {
  content: "";
  width: 79px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#semantica::after {
  content: "";
  width: 140px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#atributos::after {
  content: "";
  width: 124px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

#css::after {
  content: "";
  width: 70px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}
