/* @font-face {
  font-family: charter;
  src: url("../fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter-italic;
  src: url("../fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter-bold;
  src: url("../fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter-bold-italic;
  src: url("../fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
} */

:root {
  --white: white;
  --white30: #3a3539;
  --white20: #a5a3a5;
  --white10: white;
}

body {
  color: var(--white10);
  font-family: "Nunito", sans-serif;
  background: #251f24;
  margin: 0;
}

a {
  color: var(--white);
}

hr {
  margin-block: 40px;
  border: 1px solid rgba(97, 97, 97, 0.2);
}

h1 {
  font-size: 40px;
  /* line-height: 54px; */
  margin-block-start: 20px;
  margin-block-end: 16px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  margin-block: 40px;
  font-weight: 700;
  line-height: 54px;
  /* font-style: normal; */
}

h3 {
  font-weight: normal;
  font-size: 32px;
  margin-block: 16px;
  line-height: 43px;
}

.header {
}

.header-content {
  padding-inline: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white);
  /* top: ; */
  /* bottom:  */
  /* inset-block-end: ; */
  /* left: ; */
  /* right: ; */
  /* inset-inline-end: ; */
}

header h3 {
  font-size: 14px;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  /* --white10: red; 
  Puedo cambiar el valor de este Custom Propiety solo en el header a rojo (en este ejemplo) 
  y en el resto de elementos sigue teniendo el color anterior*/
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

pre {
  background: var(--white30);
  padding-inline-end: 40px;
  padding-inline-start: 40px;
  padding-block-start: 40px;
  padding-block-end: 40px;
  line-height: 24px;
  font-size: 16px;
  overflow: auto;
  border-radius: 8px;
}

p {
  color: var(--white20);
}

blockquote {
  margin-block-start: 80px;
  margin-inline-start: 0;
  margin-inline-end: 63px;
  background-color: #3a3539;
  border-radius: 8px;
  padding-inline-end: 24px;
  padding-inline-start: 24px;
  padding-block-start: 24px;
  padding-block-end: 24px;
}

blockquote p {
  color: var(--white10);
  font-size: 19px;
  line-height: 32px;
  margin: 0;
}

#init {
  margin-block-end: 16px;
}

.main {
  /* border: 1px solid red; */
}

.wrapper {
  /* border: 1px solid yellow; */
  max-inline-size: 636px;
  /* inline-size: 902px; */
  /* max-width: 902px; */
  /* block-size: 100px; */
  margin: auto;
}

.main-content {
  padding-inline: 16px;
  /* border: 1px solid blue; */
}

.main hr {
  display: none;
}

.hero {
  /* background: linear-gradient(
      3.36deg,
      #212325 -63.62%,
      rgba(255, 255, 255, 0) 43.49%
    ),
    url(/img/pattern.png); */
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  /* background-size: 6.6%; */
  block-size: 50px;
  /* width: 1366px; */
}

.section-content {
  counter-reset: titleList;
}

/* .section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
} */

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList, decimal) ". ";
}

.section-content-concept h2 {
  margin-block-start: 63px;
  margin-inline-end: 40px;
}

.section-content-concept h3 {
  margin-block-start: 40px;
  margin-block-end: 16px;
}

.section-content-concept img {
  display: block;
  max-inline-size: 100%;
}

.section-content-model {
  margin-block-start: 122px;
}

.section-content-model h3 {
  margin-block-start: 40px;
  margin-block-end: 16px;
  font-size: 24px;
}

.section-content-model ul li {
  line-height: 24px;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.section-content-model ol {
  font-size: 17px;
  line-height: 24px;
}

.section-content-model li {
  color: var(--white20);
}

.slider {
  /* border: 1px solid red; */
}

.slider-container {
  display: block;
  /* block-size: 100px; */
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  /* border: 1px solid blue; */
}

.video {
  margin: 0;
  /* border: 1px solid yellow; */
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  /* border: 1px solid green; */
  text-align: center;
  margin-block-start: 16px;
  margin-block-end: 51px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  inline-size: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  background: #251f24;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white10);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form ::-webkit-input-placeholder {
  color: var(--white20);
}

.form input[type="submit"] {
  background: #157efb;
  border: none;
}

@media screen and (min-width: 1366px) {
  .hero {
    block-size: 350px;
  }
  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 45px;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }
  h1 {
    font-size: 64px;
    margin-block-start: 64px;
  }
}

/* .section-content h3::after {
  content: "";
  width: 80px;
  height: 4px;
  display: inline-block;
  background: var(--white10);
} */
